/*Below are body styles*/

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: rgba(224, 143, 34, .75);
}

/*Below are styles for the class contentContainer*/

.contentContainer {
	width: 70%;
	margin: 0 auto;
	color: #015155;
}

/*.clear {
	margin-bottom: 275px;
}*/

.clearEmployee, .clearAward {
	margin-bottom: 300px;
}

/*Below are image styling*/

.imgContainer img { /* This is for the splash on index.html only*/
	width: 100%;
	margin-top: 20px;
}
/**/
/*Below are styles vital to employees.html and awards.html*/
/**/
.employeeContainer,
.awardContainer {
	clear: both;
}

.employeeText,
.awardText {
	width: 60%;
	float: left;
	padding-right: 15%;
	/*padding-right: calc(40%-201px);  Need to figure out*/
}

.employeeImg img,
.awardImg img {
	width: 200px;
	height: 200px;
	float: left;
}

/*Main page text boxes*/
.textContent {
	width: 45%;
	float: left;
	margin-bottom: 80px; /* may need to comment out later, had 200px*/
}

.textContent h3 {
	text-align: center;
}

.employeeImg img:last-of-type,
.awardImg img:last-of-type {
	padding-bottom: 20px;
}

.textArea div:first-of-type {
	padding-right: 10%;
}


.clear {
	margin-bottom: 275px;
}
/**/
/*Media query for smaller devices found below*/
/**/

@media (max-width: 1158px){
	.employeeText,
	.awardText {
		padding-right: 0;
	}

}
@media (max-width: 730px){
		.contentContiner {
			width: 100%;
		}
		.employeeContainer p, .employeeContainer img,
		.awardcontainer p, .awardcontainer img {

		}

		.textContent {
		float: none;
		width: 100%;
	}
	/*employee and awards media queries*/
		.employeeImg img,
		.awardImg img,
		.employeeText,
		.awardText {
			float: none;
			display: block;
			margin: 0 auto;
		}

		.employeeText,
		.awardText {
			width: 100%;
		}

		.employeeContainer h3,
		.awardContainer h3 {
			text-align: center;
		}

		.employeeContainer,
		.awardContainer {
			width: 90%;
		}

}

@media  only screen and (max-width: 640px) {
	/*main page media queries*/
	.contentContainer {
		width: 100%;
	}

	.textContent {
		float: none;
		width: 100%;
	}
	/*employee and awards media queries*/
		.employeeImg img,
		.awardImg img,
		.employeeText,
		.awardText {
			float: none;
			display: block;
			margin: 0 auto;
		}
		.employeeContainer h3,
		.awardContainer h3 {
			text-align: center;
		}
}



