/*image styling*/
.sandImg {
	width: 250px;
	height: 200px;
	border-radius: 20px;
	border: 2px solid black;
	margin: 10px 10px;
}

.card {
	border: 2px solid black;
	border-radius: 20px;
	display: inline-block;
	width: 28%;
	margin: 10px 5px;
	vertical-align: top;
	min-height: 425px;
	max-width: 400px;
	opacity: 0.5;

}

.card:hover {
        opacity:1;
}	

.card > h2 {
	font-size: 1.0em;
	text-align: center;
}

.title {
	color: #168287;
}